.about{
    margin: 70px 0;
    text-align: center;
    color: black;

    h2{
        width: 310px;
        border-bottom: 5px solid black;
    }

    .contentWrapper{
        display: flex;
        flex-direction: row;
    }

    .aboutMe {
        margin: 0 50px;

        h2, p{
            text-align: left;
        }
    }

    img{
        max-height: 400px;
        max-width: 400px;
        border-radius: 50%;
        border: 5px solid rgb(106, 127, 219);
    }
}
.skills{
    margin: 100px 0 0 0;
    text-align: center;
    background-color: rgb(237,237,237);
    padding-bottom: 40px;

    h2{
        width: 200px;
        border-bottom: 5px solid black;
        align-self: center;
    }
    // h2::before{
    //     content: '';
    //     position: absolute;
    //     left    : 42.5%;
    //     bottom  : -10px;
    //     width   : 196px;
    //     border-bottom: 5px solid black;
    // }

    .techStack{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        p{
            margin: 10px;
        }

        div{
            transition: all 0.3s;
        }
        div:hover{
            transform: scale(1.2);
        }
    }
}

// TODO: add little game