.about{
    margin: 70px 0;
    text-align: center;
    color: black;

    h2{
        font-size: 2.5rem;
        position: relative;
    }
     h2::before{
        content: '';
        position: absolute;
        left    : 0;
        bottom  : 0;
        width   : 248px;
        border-bottom: 5px solid black;
    }

    .contentWrapper{
        display: flex;
        flex-direction: row;
    }

    .aboutMe {
        margin: 0 50px;

        h2, p{
            text-align: left;
        }
    }

    img{
        max-height: 400px;
        max-width: 400px;
        border-radius: 50%;
        border: 5px solid rgb(106, 127, 219);
    }
}
.skills{
    margin: 100px 0 0 0;
    text-align: center;
    background-color: rgb(237,237,237);

    h2::before{
        content: '';
        position: absolute;
        left    : 44.5%;
        bottom  : 0;
        width   : 146px;
        border-bottom: 5px solid black;
    }

    .techStack{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        p{
            margin: 10px;
        }
    }
}

// TODO: add little game