.flicker {
  font-family: kosannoncommercial;
  color: white;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
  animation: 1.5s infinite flicker;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
      
      text-shadow:
      0 0 4px #C867FF,
      0 0 11px #B026FF,
      0 0 19px #B026FF,
  }
  20%, 24%, 55% {        
      text-shadow: none;
  }  
}