.contact{
    input,
    textarea,
    button{
        color: black;
    }
    text-align: center;
    .contentWrapper{
        width: 40%;
    }
    form{
        display: flex;
        flex-direction: column;

        label,
        button{
            margin-top: 40px;
            text-align: left;
        }
        button{
            text-align: center;
            width: 30%;
            align-self: center;
        }
    }
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2c2f69;
    }
}

// TODO: after its submitted have fireworks go off and a message to say i will get back to you as soon as I can