.contactForm{
    margin: 0 0 60px 0;
    display: flex;
    justify-content: center;
    background-color: rgb(237,237,237);
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    input,
    textarea,
    button{
        color: black;
    }
    textarea{
        min-height: 200px;
    }
    form{
        display: flex;
        flex-direction: column;
        width: 60%;
        
        label,
        button{
            margin-top: 40px;
            text-align: left;
        }
        button{
            text-align: center;
            width: 30%;
            align-self: left;
        }
    }
    .topForm{
        display: flex;
        flex-direction: row;

        input{
            margin: 0 20px 20px 0;
            width: 100%;
        }
        input:nth-child(4){
            margin: 0 0 20px 0;
        }
    }
}
.contact{
    background-color: rgb(237,237,237);
    padding: 50px 0 20px 0;
    margin: 50px 0 0 0;
}

// TODO: after its submitted have fireworks go off and a message to say i will get back to you as soon as I can