.contact{
    input,
    textarea,
    button{
        color: black;
    }
    text-align: center;
    .contentWrapper{
        width: 40%;
    }
    form{
        display: flex;
        flex-direction: column;

        label,
        button{
            margin-top: 40px;
            text-align: left;
        }
        button{
            text-align: center;
            width: 30%;
            align-self: center;
        }
    }
}

// TODO: have it not redirect after its submitted
// TODO: after its submitted have fireworks go off and a message to say i will get back to you as soon as i can
// TODO: Add calendy to the page