*{
    color: white;
}
html{
    font-size: 125%;
    // background-image: url(../assests/Photos/filip-mroz-023T4jyCRqA-unsplash.jpg);
    // background-size: cover;
    background-color:#090a0f;
    background: radial-gradient(ellipse at bottom, rgba(27, 39, 53, 1), rgba(9, 10, 15, 1));
}
nav{
    position: fixed;
    left: 0;
    top: 35%;
}

li{
    list-style: none;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
}

.contentWrapper{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    height: 70vh;
    width: 85%;
    margin: 200px auto;
}
@font-face {
    font-family: kosannoncommercial;
    src: url(../assests/fonts/Clip.ttf);
   }
.contentWrapper{
    max-width: 1300px;
    width: 80%;
}
h1{
    font-size: 3rem;
}