*{
    font-size: 1.2rem;
}
html{
    font-size: 125%;
}
nav{
    display: flex;
    justify-content: center;
    ul{
        display: flex;
        flex-direction: row;
        font-size: 1.3rem;
    }
    a{
        margin-right: 40px;
        transition: .5s;

        &:hover{
            text-decoration: underline;
        }
    }
}

li{
    list-style: none;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
}

.contentWrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
@font-face {
    font-family: kosannoncommercial;
    src: url(../assests/fonts/Clip.ttf);
   }
.contentWrapper{
    max-width: 1300px;
    width: 80%;
}
h1{
    font-size: 3rem;
}
.hidden{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    visibility: hidden;
    background-color: black;
    width: 50%;
    height: 100%;
    top: -30px;
    left: 0;
    z-index: 20;
    padding: 100px;

    li{
        margin: 20px;
    }
}
.visible{
    visibility: visible;
}
nav{
    i{
        visibility: hidden;
    }
}

h2{
    font-size: 3rem;
    position: relative;
    text-align: center;
}
.contentWrapper{
    width: 50%;
}

h1,
h2,
h3{
    font-family: 'Playfair Display SC', serif;
    text-transform: uppercase;
}

p,
input,
button,
a,
textarea{
    font-family: 'Montserrat', sans-serif;
}