.header{
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assests/Photos/torontoBackground.jpg);
    background-size: cover;
    height: 100vh;

    a{
        color: white;
    }
   .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
   }
   h1{
    text-align: start;
    font-size: 4rem;
   }
   h2{
    font-size: 3rem;
   }
}