.home{
   .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }
   h1{
    text-align: start;
    font-size: 4rem;
   }
   h2{
    font-size: 3rem;
   }
   .icons{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 30px;
    bottom: 100px;

    i{
        margin: 20px;
    }
   }
}
