.projects{
    text-align: center;
    img{
        width: 1000px;
    }
    .contentWrapper{
        position: relative;
    }
}

#projects{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    font-size: 1.3rem;

    li{
        flex-direction: column;
        display: flex;
        margin: 20px;
        text-align: left;
    }
    a{
        margin: 0 20px;
    }
}