.projects{
    text-align: center;
    .contentWrapper{
        position: relative;
    }
}

#projects{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;

    li{
        flex-direction: column;
        display: flex;
        text-align: center;

        img{
            width: 100%;
            text-align: end;
            transform: translateY(-200px);
            z-index: -10;
        }
    }
    a{
        margin: 0 20px;
    }
}

// TODO: maybe try to have the website info inside the image
// TODO: look at other portfolios and what they did with the projects page