.project{
  display: flex;
  margin: 20px 0;
  box-shadow: rgba(224, 141, 172, 0.42) 0px -12px 30px, rgba(224, 141, 172, 0.42) 0px 4px 6px, rgba(224, 141, 172, 0.37) 0px 12px 13px, rgba(224, 141, 172, 0.6) 0px -3px 5px;
}

#projects{
  h2{
    width: 300px;
    border-bottom: 5px solid black;
    margin: 50px auto;
}
  img{
    max-height: 300px;
    margin: 40px 0;
  }
}

.descriptions{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 30px;

  h3{
    font-size: 1.4rem;
  }
  .links{
    display: flex;
    flex-direction: row;

    a{
      margin: 0 20px 0 0;
      color: white;
      background-color: rgb(106, 127, 219);
      border: rgb(224, 141, 172) solid 3px;
      border-radius: 30%;
      padding: 10px;
    }
    a:hover{
      background-color: rgb(87, 226, 229);
      color: black;
    }
  }
}

.techStack{
  display: flex;
  
  p{
    margin: 20px 20px 0 0;
  }
}